{% extends "base.html" %}
{% block content %}
	    <div class="container">
	        <div class="row center indigo darken-4">
	        	<div class="row">
		        	<div class="col s12">
		        	<h2 class="white-text">MyLibrary</h2>
		        	</div>
	        	</div>
	        	<div class="row">
		        	<div class="col s12 centre-on-small-only">
			            <div class="image-container">
			              <img src="static/images/dragon-clip-art.png">
			            </div>
		        	</div>
		        </div>
			    <div class="row">
			    <div class="col s12 m6">
			    <a href="login" id="download-button" class="btn-large waves-effect waves-light orange">Log In</a>
			    </div>
		        <div class="col s12 m6"><a href="landing" id="download-button" class="btn-large waves-effect waves-light orange">Demo</a>
		        </div>
			    </div>
		    </div>
		</div>
{% endblock content %}